.container {
  width: 100%;
  background-color: rgb(212, 168, 186);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container div {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 310px;
}

@media screen and (max-width: 688px) {
}

@media screen and (min-width: 688px) {
  .container {
    background-color: rgb(151, 223, 226);
  }
  .container div {
    min-width: 280px;
    max-width: 290px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    background-color: rgb(205, 114, 192);
  }
}

@media screen and (min-width: 1312px) {
  .container {
    background-color: rgb(162, 185, 241);
  }
}
