.HangmanWrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.HangmanText {
  font-size: 1rem;
  text-align: center;
}

.Characters {
  display: flex;
  gap: .5rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: monospace;
}

/**Keyboard*/
.Keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.5px, 1fr));
  gap: .25rem;
  align-items: center;
  padding: 2px;
}

.btn {
  max-width: 100%;
  background: none;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* padding: 0.5rem; */
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: rgb(113, 90, 94);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: pink;
}

.Rope {
  height: 25px;
  width: 5px;
  background-color: black;
  margin-left: 60px;
  top: 0;
  right: 0;
  position: absolute;
}

.GallowHorizontal {
  height: 5px;
  width: 100px;
  background-color: black;
  margin-left: 60px;
}

.GallowVertical {
  height: 200px;
  width: 5px;
  background-color: black;
  margin-left: 60px;
}

.GallowFoot {
  height: 5px;
  width: 125px;
  background-color: black;
}

.Head {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 5px solid black;
  position: absolute;
  top: 25px;
  right: -10px;
}

.Body {
  width: 5px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 50px;
  right: 0;
}

.RightArm {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 65px;
  right: 5px;
  rotate: 15deg;
  transform-origin: right bottom;
}

.LeftArm {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 65px;
  right: -50px;
  rotate: -15deg;
  transform-origin: left bottom;
}

.RightLeg {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 95px;
  right: -45px;
  rotate: 30deg;
  transform-origin: left bottom;
}

.LeftLeg {
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 95px;
  right: 0;
  rotate: -30deg;
  transform-origin: right bottom;
}

@media (min-width: 768px) {
  .HangmanWrapper {
    max-width: 800px;
    gap: 2rem;
  }

  .HangmanText {
    font-size: 2rem;
  }

  .Characters {
    gap: .25rem;
    font-size: 6rem;
    font-weight: bold;
  }

  .Keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: .5rem;
  }

  .btn {
    width: 100%;
    border: 3px solid black;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }

  .Rope {
    height: 50px;
    width: 10px;
    margin-left: 120px;
  }
  
  .GallowHorizontal {
    height: 10px;
    width: 200px;
    margin-left: 120px;
  }
  
  .GallowVertical {
    height: 400px;
    width: 10px;
    margin-left: 120px;
  }
  
  .GallowFoot {
    height: 10px;
    width: 250px;
  }
  
  .Head {
    width: 50px;
    height: 50px;
    top: 50px;
    right: -20px;
  }
  
  .Body {
    width: 10px;
    height: 100px;
    top: 100px;
  }
  
  .RightArm {
    width: 100px;
    height: 10px;
    top: 130px;
    right: 10px;
    rotate: 30deg;
  }
  
  .LeftArm {
    width: 100px;
    height: 10px;
    top: 130px;
    right: -100px;
    rotate: -30deg;
  }
  
  .RightLeg {
    width: 100px;
    height: 10px;
    top: 190px;
    right: -90px;
    rotate: 60deg;
  }
  
  .LeftLeg {
    width: 100px;
    height: 10px;
    top: 190px;
    right: 0;
    rotate: -60deg;
  }
}
