.Button {
  padding: 5% 5%;
  box-shadow: 10px 10px 5px 12px rgb(224, 235, 238);
  height: auto;
  width: 100vw;
}

.Button h1 {
  text-align: center;
  padding-bottom: 5%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 46px;
}

.Button button {
  margin-bottom: 3%;
}
