@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

/*page*/
.TodoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: "Neucha", cursive;
  background-color: rgb(245, 244, 237);
}

/*Add task form*/
.AddTodo {
  display: flex;
  position: relative;
  align-items: center;
  width: 45%;
  padding-bottom: 3%;
}

/*form - date and task input*/
.AddTodo input {
  border-radius: 30px;
  width: 100%;
  font-size: 24px;
  border: none;
  padding: 20px 30px;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
  color: rgb(118, 105, 105);
}

/*Todolist titel*/
.AddTodoTitel {
  text-align: center;
  color: rgb(118, 105, 105);
  text-transform: uppercase;
  z-index: 1;
  font-size: 40px;
  margin: 30px 0;
}

/*Add task input..*/
.inputAdd {
  width: 80%;
}

.inputDate {
  width: 57%;
}

.AddTodo input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.1);
  outline: none;
}

/*Add task.. button*/
.AddTodoButton {
  position: absolute;
  border-radius: 40px;
  font-size: 14px;
  border: none;
  padding: 17px 27px;
  box-shadow: inset 0 0 5px black;
  width: auto;
  right: 0;
  margin: 10px;
  font-family: "Neucha";
  color: rgb(118, 105, 105);
  font-weight: bold;
  transition: 0.2s all;
}

.AddTodo button:hover {
  background-color: rgb(248, 232, 221);
}

.AddTodo button:active {
  transform: scale(0.8);
}

.TodoListContent {
  display: flex;
  width: 90%;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: space-between;
  color: rgb(84, 83, 83);
}

/*Tasks todo, Done tasks*/
.TodoListTodo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgb(197, 197, 187),
    rgb(241, 237, 229),
    rgb(221, 173, 138) 86%
  );
  border-radius: 5px;
  opacity: 0.8;
}

.TodoListHeading {
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  color: rgb(118, 105, 105);
}

.todosSingle {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("../../assets/back.jpg");
  transition: 0.2s;
}

.single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.1);
}

.todosText {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  background-color: rgb(245, 244, 237);
}

.todosText::first-letter {
  text-transform: uppercase;
}

.todosText:focus {
  outline: none;
  color: rgb(118, 105, 105);
  text-transform: uppercase;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.drag {
  box-shadow: 0 0 20px black;
}

.dragactive {
  background-color: rgb(197, 197, 187);
}

.dragcomplete {
  background-color: rgb(241, 237, 229);
}

.remove {
  background-color: rgb(221, 173, 138);
}



@media (max-width: 1100px) {
  .AddTodo {
    width: 60%;
  }
  .TodoListTodo {
    width: 49%;
  }
}

@media (max-width: 800px) {
  .TodoListHeading {
    margin: 4px 0;
    font-size: 25px;
  }
  .AddTodo {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .AddTodo {
    width: 70%;
  }
  .TodoListContent {
    width: 95%;
    flex-direction: column;
  }
  .TodoListTodo {
    width: 95%;
    margin-bottom: 10px;
  }
}
