.container {
    background-color: blanchedalmond;
    height: 100vh;
}



@media screen and (max-width: 688px) {
    .container {
        background-color: rgb(199, 192, 183);
    }

}

@media screen and (min-width: 688px) {
    .container {
        background-color: rgb(80, 158, 106);
    }

}

@media screen and (min-width: 992px) {
    .container {
        background-color: rgb(158, 64, 144);
    }

}

@media screen and (min-width: 1312px) {
    .container {
        background-color: rgb(194, 142, 75);
    }

}